<!DOCTYPE html>
<html lang="en" class="light">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport"/>
    <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
    <title>{{.Meta.Title}}</title>
    <meta content="{{.Meta.Keywords}}" name="keywords"/>
    <link href="/assets/styles/main.css?v={{.Meta.Version}}" rel="stylesheet"/>
    <script src="/assets/scripts/main.js?v={{.Meta.Version}}"
            type="application/javascript"></script>
</head>
<body>
    <header class="header">
        <div class="nav-container">
            <a href="/">
                <img alt="Ahmed Kamal"
                     class="brand-img"
                     src="/assets/images/ahmedmkamal.jpg?v={{.Meta.Version}}"/>
            </a>
            <div>
                <a class="brand-name" href="/">Ahmed Kamal</a>
                <nav class="nav">
                    <a href="/blog" class="nav-link">BLOG</a>
                    <a href="/projects" class="nav-link">PROJECTS</a>
                    <a href="/contact" class="nav-link">CONTACT</a>
                </nav>
            </div>
        </div>
        <button class="dark-mode-toggle" onclick="app.switchDarkMode()">
            <svg class="light"
                 fill="none"
                 height="20"
                 stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 stroke-width="2"
                 viewBox="0 0 24 24"
                 width="20">
                <path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path>
            </svg>
            <svg class="dark"
                 fill="none"
                 height="20"
                 stroke="currentColor"
                 stroke-linecap="round"
                 stroke-linejoin="round"
                 stroke-width="2"
                 viewBox="0 0 24 24"
                 width="20"
                 xmlns="http://www.w3.org/2000/svg">
                <circle cx="12" cy="12" r="5"></circle>
                <line x1="12" y1="1" x2="12" y2="3"></line>
                <line x1="12" y1="21" x2="12" y2="23"></line>
                <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
                <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
                <line x1="1" y1="12" x2="3" y2="12"></line>
                <line x1="21" y1="12" x2="23" y2="12"></line>
                <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
                <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
            </svg>
        </button>
    </header>

    <main class="main">
        <section>

        </section>
    </main>
</body>
</html>
